@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(15, 15, 15);
  color: #f1f1f1;
}
.scrollbar-style{
  scrollbar-color: #0f0f0f #272727;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*rgb(15, 15, 15);*/